# Template gitignore file that is housed in dotfiles/.gitignore
# Created by https://www.gitignore.io/api/macos
# Updated with https://github.com/github/gitignore

# Visual Studio
.vscode/
TracksterWorkspace.code-workspace
secret.h
project.properties
